{% extends 'app/index.html' %}
{% block content %}

<section class="section" id="clusters">
    <div class="container">
        <h6 class="xs-font mb-0">Keep an eye on all your cluster deployments.</h6>
        <h2 class="section-title mb-4">Clusters</h2>
    </div>
</section>

{% if cluster_list %}
<section class="section" id="clusters_list">
{% for cluster in cluster_list %}
    <div class="container">
        <a href="{% url 'cluster-detail' cluster.id %}" class="item expertises-item">
            <h4 class="mt-3 mb-2">🚀{{ cluster.title }}</h4>
            <p class="xs-font">Environment: {{ cluster.environment }}</p>
            <p class="xs-font">Type: {{ cluster.type }}</p>
            <p class="xs-font">Version: {{ cluster.version }}</p>
            <p>{{ cluster.description|linebreaksbr }}</p>
        </a>
    </div>
    <br>
    {% endfor %}
</section>  
{% else %}
        <p> No clusters found </p>
{% endif %}

{% endblock %}